.user-dashboard {
    margin: 2rem auto;
    background: #262522;
    color: white;
    padding: 2rem 5rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
}

.user-dashboard:hover {
    box-shadow: 0px 8px 10px 1px #04a6ce6a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-action {
    background: #0891B2;
    border-radius: 9999px;
    color: white;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}

.user-list {
    list-style: none;
    padding: 0;
}

.recipe-list {
    list-style: none;
    padding: 0;
}

.user-item {
    background: #eee;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.req-user-item {
    background: #ffe5dd;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.recipe-item {
    background: #eee;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.unvalidated-recipe-item {
    background: #ffe5dd;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.actions button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.editUser {
    background: #FFA31A;
    color: #fff;
}

.editRecipe {
    background: #FFA31A;
    color: #fff;
}

.validateRecipe {
    background: #88e058;
    color: #fff;
}

.deleteUser {
    background: #EE6352;
    color: #fff;
}

.deleteRecipe {
    background: #EE6352;
    color: #fff;
}

.validateRole {
    background: #88e058;
    color: #fff;
}

/* Modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 10% auto;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}