body {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.user-dashboard {
    margin: 1rem auto;
    background: #262522;
    color: white;
    padding: 2rem 5rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
}

.user-dashboard:hover {
    box-shadow: 0px 8px 10px 1px #04a6ce6a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-action {
    background: #0891B2;
    border-radius: 9999px;
    color: white;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}

.user-list {
    list-style: none;
    padding: 0;
}

.recipe-list {
    list-style: none;
    padding: 0;
}

.user-item {
    background: #eee;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.req-user-item {
    background: #ffe5dd;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.recipe-item {
    background: #eee;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.unvalidated-recipe-item {
    background: #ffe5dd;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.actions button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.editUser {
    background: #FFA31A;
    color: #fff;
}

.editRecipe {
    background: #FFA31A;
    color: #fff;
}

.validateRecipe {
    background: #88e058;
    color: #fff;
}

.deleteUser {
    background: #EE6352;
    color: #fff;
}

.deleteRecipe {
    background: #EE6352;
    color: #fff;
}

.validateRole {
    background: #88e058;
    color: #fff;
}

.main-action {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
}

/* Modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 10% auto;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.recipe-modal-content {
    background: #fff;
    color: #000;
    width: 700px;
    max-height: 85vh;
    overflow: auto;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}
  
input, select, textarea {
    width: 100%;
    margin: 5px 0 10px;
    padding: 8px;
    box-sizing: border-box;
}
  
#addIngredient, #add-step {
    margin-bottom: 10px;
}

.checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-row label {
    white-space: nowrap;
}
  
.ingredient-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
.ingredient-row input {
    flex: 1;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.column {
    flex: 1;
}

.step-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.step-row input {
    flex: 1;
}

.step-row input[name="step_timer[]"] {
    width: 80px;
}